@page "/"
@rendermode InteractiveServer
@using Arboles_De_Busqueda_Binaria.models
@using Arboles_De_Busqueda_Binaria.services

<div class="container mt-5">
    <h3 class="text-center">Árbol Binario Visual</h3>

    @if (Arbol.Raiz != null)
    {
        <TreeNode Nodo="Arbol.Raiz" />
    }
    else
    {
        <p class="text-muted text-center">El árbol está vacío</p>
    }

    <div class="mt-4 text-center">
        <input type="number" @bind="Valor" placeholder="Valor" class="form-control d-inline-block w-auto me-2" />
        <button class="btn btn-success me-2" @onclick="Agregar">Agregar</button>
        <button class="btn btn-danger" @onclick="Eliminar">Eliminar</button>
        <button class="btn btn-danger" @onclick="Buscar">Buscar</button>
    </div>

    @if (encontrado)
    {
        <p>Valor encontrado: @Valor</p>
    }

</div>

@code {

    private ArbolBinarioBusqueda Arbol = new();
    private int Valor;

    private bool encontrado = false;

    private void Agregar()
    {
        Arbol.Insertar(Valor);
        encontrado = false;
    }

    private void Eliminar()
    {
        Arbol.Eliminar(Valor);
        encontrado = false;
    }

    private void Buscar()
    {
        encontrado = Arbol.Buscar(Valor);
    }
}
